.elrendezes {
    border: 1px black solid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    display: grid;

}
@media screen and (max-width:600px) {
    .elrendezes {
        display: grid;
        grid-template-columns: 1fr;
    }
}