*{
    box-sizing: border-box;
    background-color: gray;
    font-family: old english text mt, serif;
}
a {
    padding: 5px;
    text-decoration: none;
    margin: auto;
}
img {
    width: 50%;
    padding: 5px;
}
main {
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0,815);
    border: 1px solid wheat;
    width: 80%;
    max-width: 1000px;
}
h2 {
    font-weight: bold;
}