.idovonalbejegyzes {
  display: grid;
  grid-template-columns: 1fr 2fr
 
  
}

img {
  max-width: 300px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .idovonalbejegyzes {
    grid-template-columns: 1fr; /
    
  }

  img {
    max-width: 100%;
    margin: 0 auto;
  }
}

